<h1>
  {{title}}
</h1> 
<nav>
  <!--<a routerLink='/users'>Users</a> |
  <a routerLink='/posts'>Posts</a> |
  <a routerLink='/products'>Products</a> -->
  <a routerLink='/invoiceForm'>Invoice Form</a> |
  <a routerLink='/invoices'>Invoices </a> 

  
</nav> <br/>
<router-outlet></router-outlet>