<span *ngIf = "!isEdit"> id: {{post.id}}, Title: {{post.title}} </span>
<span *ngIf = "isEdit"> 
    Id: <input type = "text" [(ngModel)] = "post.id" >
    Title: <input type = "text" [(ngModel)] = "post.title">
  
</span>
<button (click) = "toggleEdit()" > {{editButtonText}} </button>
<button (click) = "sendDelete()" > Delete </button>
  <button *ngIf = "isEdit" (click) = "cancelEdit()">Cancel</button> 
